<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking is confirmed,</h1>
    <% @booking.passengers.each do |passenger| %>
    <p><%= passenger.name %></p>
    <% end %>
    <p>
      Your flight # is <%= @booking.flight_id %>
    </p>
    <p>Thank you for your business!</p>
  </body>
</html>
