<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking is confirmed, <%= @booking.passengers.name %></h1>
    <p>
      Your flight # is <%= @booking.flight_id %>
    </p>
    <p>Thanks for your business!</p>
  </body>
</html>
